<ul class="nav_social-list">
  <span class="title">Share</span>
  <li class="nav_social-item">
    <a href="" class="nav_social-item--link">
      <i class="fab fa-facebook-f"></i>
    </a>
  </li>
  <li class="nav_social-item">
    <a href="" class="nav_social-item--link">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li class="nav_social-item">
    <a href="" class="nav_social-item--link">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li class="nav_social-item">
    <a href="" class="nav_social-item--link">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li class="nav_social-item">
    <a href="" class="nav_social-item--link">
      <i class="fab fa-snapchat-ghost"></i>
    </a>
  </li>
</ul>
