.footer{
  background-color: #191C1D;
}
.wrapper{
  display: flex;
}
.footer-label{
  padding-top: 25px;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  margin: 0;
}
.footer-list{
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 20px 0 25px 0;
}
.footer-item{
  color: white;
}
.footer-item--link{
  text-decoration: none;
  color:var(--header-color);
}
.author{
  background-color: #0a0a0a;
  height: 50px;
  text-align: center;
}
.author-detail{
  color: var(--header-color);
  font-size: 1.6rem;
  height: 100%;
  line-height: 50px;

}
.author-name{
  color:seagreen;
}
