<div class="footer">
  <div class="grid">
    <div class="wide wrapper">
      <div class="c-3">
        <h3 class="footer-label">Liên lạc</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item--link">89 Hoàng Văn Thái</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Điện thoại:</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Email:</a>
          </li>
        </ul>
      </div>
      <div class="c-3">
        <h3 class="footer-label">Chăm sóc khách hàng</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item--link">Hotline:</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Fanpage:</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Email:</a>
          </li>
        </ul>
      </div>
      <div class="c-3">
        <h3 class="footer-label">Chính sách</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item--link">Chính sách bảo hành</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Chính sách đổi trả</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Chính sách giao hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item--link">Chính sách bảo mật</a>
          </li>
        </ul>
      </div>
      <div class="c-3">
        <h3 class="footer-label">Tải xuống ứng dụng</h3>
      </div>
    </div>
  </div>
  <div class="author">
    <span class="author-detail">
      Copyright &copy; {{current_year}} This page is made with
      <span class="author-name"><i class="fa fa-heart"></i> by minionbee</span>
    </span>
  </div>
</div>
