*{
  color:white;
  text-decoration: none;
  list-style: none;
}
.wrapper{
  background-color: var(--primary-color);
  padding-top: 160px;
  padding-bottom: 30px;
}
.container{
  display: flex;
  height: 500px;
}


/*  */

