<app-header></app-header>
<div class="grid wrapper">
  <div class="wide">
    <div class="listed-view">
      <ul class="container">
        <li class="view-item">
          <a href="" class="view-item--link">
            <i class="fas fa-home"></i>
            Home
          </a>
          <i class="fas fa-chevron-right fa-custom-right"></i>
        </li>
        <li class="view-item">
          <a href="" class="view-item--link">
            Archives
          </a>
          <i class="fas fa-chevron-right fa-custom-right"></i>
        </li>
        <li class="view-item">
          <a href="" class="view-item--link">
            Drake
          </a>
        </li>
      </ul>
    </div>
    <div class="main-area">
        <app-main-view></app-main-view>
      <div class="row">
        <div class="c-1">
          <app-social-share></app-social-share>
        </div>
        <div class="c-6">
          <app-video-description></app-video-description>
          <app-post-comment></app-post-comment>
          <app-comment-area></app-comment-area>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
